---
---
@import "base";

.game-logo {
    width: 120px;
    height: 120px;
  }

.screenshot-row {
    display: flex;
}

.screenshot-row-element {
    
}

.screenshot-row-element video {
    width: 100%;
}

.showcase {
    display: grid;
    grid-template-rows: repeat(auto-fit, 340px);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
}

.showcase-slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.videogif {
    height: 310px;
    width: 100%;
    object-fit: scale-down
}

.screenshot {
    height: 310px;
    width: 100%;
    object-fit: scale-down
}